body {
	text-align: center;
}

form {
	background-color: white;
}

p {
	border: royalblue;
	border-style: solid;
	border-width: 3px;
	padding: 5px:;
}

fieldset {
	background-color: lightskyblue;
	float: right;
}

.main-container {
	background-image: url(../images/Maroper_Music.jpg);
	height: 100vh;
	font-weight: bold;
	font-family: 'Baloo Bhaijaan', cursive;
}

.btn {
	display: block;
	clear: both;
}

.heading {
	text-align: center;
	font-weight: bolder;
	background-color: white;
}

/*#question, #answers {
	background-color: white;
}*/
